In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
ap_variables = pd.read_csv("data/a&p_variables.csv")
commercial_variables = pd.read_csv("data/commercial_variables.csv")
kpi_variables = pd.read_csv("data/kpi_to_model.csv")

In [13]:
ap_variables

,growth_driver_l1,growth_driver_l2,growth_driver_l3,growth_driver_l4,growth_driver_l5,metric,Starting week,investment (in pound),execution
0,ap_consumer_facing,consumer_engagement,advocacy_media,influencer_management,influencer_management,engagements,2022-01-03,107.438017,537.216943
1,ap_consumer_facing,consumer_engagement,advocacy_media,influencer_management,influencer_management,engagements,2022-01-10,0.000000,0.000000
2,ap_consumer_facing,consumer_engagement,advocacy_media,influencer_management,influencer_management,engagements,2022-01-17,0.000000,0.000000
3,ap_consumer_facing,consumer_engagement,advocacy_media,influencer_management,influencer_management,engagements,2022-01-24,28484.999998,142432.121596
4,ap_consumer_facing,consumer_engagement,advocacy_media,influencer_management,influencer_management,engagements,2022-01-31,19172.915190,95869.369418
...,...,...,...,...,...,...,...,...,...
2023,ap_consumer_facing,shopper_experience,shopper_experience,testers_and_merchandising,testers_and_merchandising,units,2023-11-27,0.000000,0.000000
2024,ap_consumer_facing,shopper_experience,shopper_experience,testers_and_merchandising,testers_and_merchandising,units,2023-12-04,0.000000,0.000000
2025,ap_consumer_facing,shopper_experience,shopper_experience,testers_and_merchandising,testers_and_merchandising,units,2023-12-11,3381.443000,193.700000
2026,ap_consumer_facing,shopper_experience,shopper_experience,testers_and_merchandising,testers_and_merchandising,units,2023-12-18,0.000000,0.000000
2027,ap_consumer_facing,shopper_experience,shopper_experience,testers_and_merchandising,testers_and_merchandising,units,2023-12-25,0.000000,0.000000

In [14]:
commercial_variables

,Starting Week,Year,UK L'Oreal Paris Haircare Offline Average Price (in pound),UK L'Oreal Paris Haircare Online Average Price (in pound),UK L'Oreal Paris Haircare Total Weigheted Promotion Distribution (%)
0,2022-01-03,2022,2.323822,3.242071,0.37
1,2022-01-10,2022,2.328649,2.978819,0.42
2,2022-01-17,2022,2.378280,3.014039,0.43
3,2022-01-24,2022,2.396989,3.077403,0.86
4,2022-01-31,2022,2.394615,3.306272,0.78
...,...,...,...,...,...
99,2023-11-27,2023,3.067400,3.771592,0.91
100,2023-12-04,2023,3.039699,3.784533,0.81
101,2023-12-11,2023,3.057034,3.836532,0.81
102,2023-12-18,2023,3.176955,3.939211,0.86
103,2023-12-25,2023,3.302600,4.743514,0.83

In [15]:
kpi_variables

,Starting Week,Year,UK L'Oreal Paris Haircare Total Offline Sellout Value (in pound),UK L'Oreal Paris Haircare Total Offline Sellout Units,UK L'Oreal Paris Haircare Total Online Sellout Value (in pound),UK L'Oreal Paris Haircare Total Online Sellout Units
0,2022-01-03,2022,1583364.9,681362.5,362750.18,111888.4
1,2022-01-10,2022,1753588.2,753049.7,385263.71,129334.4
2,2022-01-17,2022,1690696.8,710890.7,359523.06,119282.8
3,2022-01-24,2022,1748572.8,729487.2,357843.85,116281.1
4,2022-01-31,2022,1768055.9,738346.7,386416.94,116873.9
...,...,...,...,...,...,...
99,2023-11-27,2023,2472870.4,806178.1,511228.38,135547.1
100,2023-12-04,2023,2464104.5,810641.0,483836.99,127845.9
101,2023-12-11,2023,2686708.7,878861.1,502614.45,131007.5
102,2023-12-18,2023,3397529.2,1069429.4,463530.08,117670.8
103,2023-12-25,2023,2002780.0,606425.3,416440.70,87791.6

In [16]:
# Convert 'Starting Week' to datetime
ap_variables["Starting week"] = pd.to_datetime(ap_variables["Starting week"])
commercial_variables["Starting Week"] = pd.to_datetime(
    commercial_variables["Starting Week"]
)
kpi_variables["Starting Week"] = pd.to_datetime(kpi_variables["Starting Week"])

# rename column in ap_variables
ap_variables = ap_variables.rename(columns={"Starting week": "Starting Week"})

In [17]:
# Merge the datasets on 'Starting Week'
merged_data = pd.merge(
    ap_variables,
    commercial_variables,
    how="left",
    on="Starting Week",
)
merged_data = pd.merge(merged_data, kpi_variables, how="left", on="Starting Week")

In [18]:
merged_data

,growth_driver_l1,growth_driver_l2,growth_driver_l3,growth_driver_l4,growth_driver_l5,metric,Starting Week,investment (in pound),execution,Year_x,UK L'Oreal Paris Haircare Offline Average Price (in pound),UK L'Oreal Paris Haircare Online Average Price (in pound),UK L'Oreal Paris Haircare Total Weigheted Promotion Distribution (%),Year_y,UK L'Oreal Paris Haircare Total Offline Sellout Value (in pound),UK L'Oreal Paris Haircare Total Offline Sellout Units,UK L'Oreal Paris Haircare Total Online Sellout Value (in pound),UK L'Oreal Paris Haircare Total Online Sellout Units
0,ap_consumer_facing,consumer_engagement,advocacy_media,influencer_management,influencer_management,engagements,2022-01-03,107.438017,537.216943,2022,2.323822,3.242071,0.37,2022,1583364.9,681362.5,362750.18,111888.4
1,ap_consumer_facing,consumer_engagement,advocacy_media,influencer_management,influencer_management,engagements,2022-01-10,0.000000,0.000000,2022,2.328649,2.978819,0.42,2022,1753588.2,753049.7,385263.71,129334.4
2,ap_consumer_facing,consumer_engagement,advocacy_media,influencer_management,influencer_management,engagements,2022-01-17,0.000000,0.000000,2022,2.378280,3.014039,0.43,2022,1690696.8,710890.7,359523.06,119282.8
3,ap_consumer_facing,consumer_engagement,advocacy_media,influencer_management,influencer_management,engagements,2022-01-24,28484.999998,142432.121596,2022,2.396989,3.077403,0.86,2022,1748572.8,729487.2,357843.85,116281.1
4,ap_consumer_facing,consumer_engagement,advocacy_media,influencer_management,influencer_management,engagements,2022-01-31,19172.915190,95869.369418,2022,2.394615,3.306272,0.78,2022,1768055.9,738346.7,386416.94,116873.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023,ap_consumer_facing,shopper_experience,shopper_experience,testers_and_merchandising,testers_and_merchandising,units,2023-11-27,0.000000,0.000000,2023,3.067400,3.771592,0.91,2023,2472870.4,806178.1,511228.38,135547.1
2024,ap_consumer_facing,shopper_experience,shopper_experience,testers_and_merchandising,testers_and_merchandising,units,2023-12-04,0.000000,0.000000,2023,3.039699,3.784533,0.81,2023,2464104.5,810641.0,483836.99,127845.9
2025,ap_consumer_facing,shopper_experience,shopper_experience,testers_and_merchandising,testers_and_merchandising,units,2023-12-11,3381.443000,193.700000,2023,3.057034,3.836532,0.81,2023,2686708.7,878861.1,502614.45,131007.5
2026,ap_consumer_facing,shopper_experience,shopper_experience,testers_and_merchandising,testers_and_merchandising,units,2023-12-18,0.000000,0.000000,2023,3.176955,3.939211,0.86,2023,3397529.2,1069429.4,463530.08,117670.8
2027,ap_consumer_facing,shopper_experience,shopper_experience,testers_and_merchandising,testers_and_merchandising,units,2023-12-25,0.000000,0.000000,2023,3.302600,4.743514,0.83,2023,2002780.0,606425.3,416440.70,87791.6

In [20]:
# Check for missing values
missing_values = merged_data.isnull().sum()
missing_values

growth_driver_l1                                                        0
growth_driver_l2                                                        0
growth_driver_l3                                                        0
growth_driver_l4                                                        0
growth_driver_l5                                                        0
metric                                                                  0
Starting Week                                                           0
investment (in pound)                                                   0
execution                                                               0
Year_x                                                                  0
UK L'Oreal Paris Haircare Offline Average Price (in pound)              0
UK L'Oreal Paris Haircare Online Average Price (in pound)               0
UK L'Oreal Paris Haircare Total Weigheted Promotion Distribution (%)    0
Year_y                                                                  0
UK L'Oreal Paris Haircare Total Offline Sellout Value (in pound)        0
UK L'Oreal Paris Haircare Total Offline Sellout Units                   0
UK L'Oreal Paris Haircare Total Online Sellout Value (in pound)         0
UK L'Oreal Paris Haircare Total Online Sellout Units                    0
dtype: int64

In [21]:
merged_data["growth_driver_l1"].unique()

array(['ap_consumer_facing'], dtype=object)

In [22]:
merged_data["growth_driver_l2"].unique()

array(['consumer_engagement', 'shopper_experience'], dtype=object)

In [23]:
merged_data["growth_driver_l3"].unique()

array(['advocacy_media', 'paid_media', 'shopper_experience'], dtype=object)

In [24]:
merged_data["growth_driver_l4"].unique()

array(['influencer_management', 'digital_tv',
       'online_multiformat_ads_transaction',
       'online_video_content_platforms',
       'paid_search_awarenessconsideration', 'paid_search_transaction',
       'social_media_awarenessconsideration', 'social_media_transaction',
       'traditional_tv', 'testers_and_merchandising'], dtype=object)

In [25]:
merged_data["growth_driver_l5"].unique()

array(['influencer_management', 'bvod', 'amazon_retail', 'tesco',
       'google_video', 'youtube', 'google', 'amazon', 'citrus', 'criteo',
       'meta', 'pinterest', 'tik_tok', 'meta_collab_ads', 'the_hut_group',
       'linear', 'testers_and_merchandising'], dtype=object)

In [26]:
merged_data.to_csv("data/merged_data.csv", index=False)

In [ ]:
# Filtering offline data
offline_data = merged_data[
    [
        "Starting Week",
        "Year",
        "UK L'Oreal Paris Haircare Total Offline Sellout Units",
        "UK L'Oreal Paris Haircare Offline Average Price (in pound)",
        "UK L'Oreal Paris Haircare Total Weigheted Promotion Distribution (%)",
        "growth_driver_l1",
        "growth_driver_l2",
        "growth_driver_l3",
        "growth_driver_l4",
        "growth_driver_l5",
        "metric",
        "investment (in pound)",
        "execution",
    ]
]